---
title: Learn you some things!
---

%header
  %h1 Learn you some things!
  %h2 For great success...

%footer
  Fork me on #{ link_to "Github", "https://github.com/mootpointer/learnyousomethings.com" }.
